@font-face {
  font-family: "Fraunces";
  font-display: swap;
  font-weight: 600 700;
  src: url("fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  font-weight: 400 700;
  src: url("fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
}
:root {
  --clr-primary-400: hsl(150, 100%, 63%);
  --clr-primary-900: hsl(273, 85%, 13%);

  --clr-neutral-600: hsl(271, 12%, 34%);
  --clr-neutral-200: hsl(274, 100%, 99%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-base: "Manrope", sans-serif;
  --ff-accent: "Fraunces", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --dt-main: 0.3s; /* Duration Time */
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-main);
  background-color: var(--clr-neutral-100);
}
::-webkit-scrollbar {
  display: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Heading */
.header {
  margin-left: auto;
  margin-right: auto;
}
hr::before {
  content: url(images/bg-pattern-1.svg);
  width: 341px;
  height: 317px;
  position: absolute;
  top: 116px;
  left: -138px;
}
hr::after {
  content: url(images/bg-pattern-2.svg);
  width: 174;
  height: 181px;
  position: absolute;
  top: 314px;
  right: -48px;
}
.header .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}
.header .button {
  border: 0;
  background-color: transparent;
  color: var(--clr-neutral-100, #fff);
  font-size: 18px;
  font-weight: var(--fw-bold);
  line-height: 32px;
  letter-spacing: -0.18px;
  border-bottom: 2px solid var(--clr-primary-400, #44ffa1);
  transition: var(--dt-main);
}
.header .button:hover {
  color: var(--clr-primary-400, #44ffa1);
}
/* End Heading */
/* Start Landing */
.landing {
  background-color: #fcf8ff;
  height: 730px;
  background-image: url(/images/bg-landing.svg);
  background-size: cover;
  background-position: 100% 100%;
}
.landing::after {
  content: url("images/image-hero.png");
  width: 762px;
  height: 424px;
  position: absolute;
  top: 471px;
  left: 50%;
  transform: translateX(-50%);
}
hr {
  height: 0px;
  width: 100%;
  border: 0;
}
.landing .landing-content {
  margin: 0;
}
.landing .container .title {
  width: 635px;

  color: var(--clr-neutral-100, #fff);
  font-size: 80px;
  font-weight: var(--fw-bold);
  text-align: center;
  line-height: 80px;
  margin: 146px auto 37px;
}
.landing .title span {
  border-bottom: 2px solid var(--clr-primary-400);
}
.learn-more {
  background: var(--clr-primary-400, #44ffa1);
  color: var(--clr-primary-900, #24053e);
  font-size: 18px;
  font-weight: var(--fw-bold);
  line-height: 32px;
  letter-spacing: -0.18px;
  padding: 16px 32px;
  border: 0;
  transition: var(--dt-main);
}
.learn-more:hover {
  background-color: transparent;
  color: var(--clr-primary-400, #44ffa1);
  box-shadow: inset 0 0 0 2px var(--clr-primary-400, #44ffa1);
}
/* End Landing */
/* Start Features */
.features {
  height: 734px;

  background-image: url("images/bg-features.svg");
  background-size: cover;
  background-position: 100% 100%;
}
.features .container {
  width: 1114px;
}
.features-content {
  margin-top: 255px;
  display: flex;
  gap: 26px;
}
.features-content .func {
  display: flex;
  flex-direction: column;
  gap: 56px;
  justify-content: center;
  align-items: center;
}
.num {
  width: 56px;
  height: 56px;
  border-radius: 30.5px;
  border: 1px solid var(--clr-primary-900, #584d62);
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--clr-primary-900, #24053e);
  font-family: var(--ff-accent);
  font-size: 24px;
  font-weight: var(--fw-semi-bold);
  line-height: 40px;
}
.features-content .func .info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.info .title {
  color: var(--clr-primary-900, #24053e);
  font-family: var(--ff-accent);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.func .info .title + p {
  color: var(--clr-neutral-600, #584d62);
  font-size: 18px;
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: 32px;
  padding: 0 15px;
}
/* End Features */
/* Start Contact */
.contact .container {
  padding-top: 110px;
}
.contact-content {
  width: 1120px;
  height: 586px;
  text-align: center;
  position: relative;
  padding: 0 40px;
  margin: auto;
}
.contact-content .image {
  width: 477px;
  height: 477px;
  display: flex;
  align-items: flex-start;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
}
.contact-content .info {
  width: 730px;
  height: fit-content;
  background-color: var(--clr-primary-900, #24053e);
  padding: 64px;
  text-align: left;

  position: absolute;
  right: 0;
  bottom: 0;
}
.contact-content .info .title {
  color: var(--clr-neutral-100, #fff);
  font-family: var(--ff-accent);
  font-size: 56px;
  font-weight: var(--fw-semi-bold);
  line-height: 64px;
}
.contact-content .info .title + p {
  color: var(--clr-neutral-100, #fff);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 32px 0px;
}
.contact-content .info .button-subscribe {
  border: 0;
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-900, #24053e);
  font-size: 18px;
  font-weight: var(--fw-bold);
  line-height: 32px;
  letter-spacing: -0.18px;
  padding: 13px 26px;
  transition: var(--dt-main);
}
.contact-content .info .button-subscribe:hover {
  background-color: transparent;
  color: var(--clr-primary-400, #44ffa1);
  box-shadow: inset 0 0 0 2px var(--clr-primary-400, #44ffa1);
}
/* End Contact */
/* Start Social */
.social {
  padding: 110px 0;
}
.social .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.social .social-icons {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
/* End Social */
